@import "tailwindcss";
@plugin "daisyui";

/* Create and configure your custom theme */
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  /* Makes this your fallback theme */
  --color-primary: #244D3F;
  /* Your custom primary color hex/oklch/rgb */
  --color-primary-content: #ffffff;
  /* Color for text inside primary elements */

  --color-accent: #244D3F;
  /* Your custom accent color hex/oklch/rgb */
  --color-accent-content: #ffffff;
  /* Color for text inside accent elements */

  --color-secondary: #FFFFFF;
  --color-secondary-content: #64748B;
  /* Color for text inside secondary elements */

  --color-neutral: #F8FAFC;
  --color-neutral-content: #1F2937;
  /* Color for text inside neutral elements */

  --bg-base-100: #F8FAFC;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-base-100);
  color: var(--color-secondary-content);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-neutral-content);
}